<!-- Wappler include head-page="layouts/admin" fontawesome_5="cdn" bootstrap5="local" id="members" components="{dmxBootstrap5Modal:{},dmxBrowser:{},dmxStateManagement:{},dmxBootstrap5TableGenerator:{},dmxFormatter:{},dmxValidator:{},dmxDatePicker:{},dmxBootbox5:{},dmxDatastore:{},dmxMoment:{},dmxNotifications:{},dmxBootstrap5Toasts:{}}" jquery_slim_35="cdn" moment_2="cdn" is="dmx-app" appconnect="local" -->



<dmx-value id="var2" dmx-text="paymentDueDate"></dmx-value>
<script is="dmx-flow" id="flow1" type="text/dmx-flow">[
  {
    wait: {disabled: true, delay: 50}
  },
  {
    runJS: {
      name: "payDueDate",
      output: true,
      outputType: "text",
      function: "calculateDueDate",
      args: [
        "{{modEdit.serverconnectform2.inp_dateJoined.value}}",
        "{{scgetLastPay.data.query.dueDate}}"
      ]
    }
  }
]</script>
<dmx-value id="varDueDate" dmx-bind:value="modEdit.serverconnectform2.inp_dateJoined.value.yearsUntil(var1.datetime)"></dmx-value>
<dmx-value id="varPayMethod" dmx-bind:value="0"></dmx-value>


<dmx-datetime id="var1"></dmx-datetime>
<dmx-notifications id="notifies1" timeout="6000"></dmx-notifications>
<dmx-session-manager id="session1"></dmx-session-manager>



<dmx-toggle id="toggle1"></dmx-toggle>



<dmx-query-manager id="query1"></dmx-query-manager>

<div is="dmx-browser" id="browser1"></div>
<dmx-serverconnect id="scupdatePayDueDate" url="/api/Admin/Payments/updatePayDueDate"></dmx-serverconnect>
<dmx-serverconnect id="scGetSinglePayEdit" url="/api/Admin/Payments/getSinglePayEdit"></dmx-serverconnect>
<dmx-serverconnect id="scMemberType" url="/api/Admin/getMemCategory" dmx-param:memdetsid="modEdit.serverconnectform2.inp_memDetsId.value"></dmx-serverconnect>
<dmx-serverconnect id="scGetMemAmount" url="/api/Admin/getMemAmount"></dmx-serverconnect>
<dmx-serverconnect id="scgetLastPay" url="/api/Admin/Payments/getLastPayment" noload="true"></dmx-serverconnect>
<dmx-serverconnect id="scGetSinglePayRec" url="/api/Admin/Payments/getLastRec" dmx-param:payid="scGetLastPayRec.data.query[0].lastRecord" noload="true"></dmx-serverconnect>
<dmx-serverconnect id="scCreatePay" url="/api/Admin/Payments/createPay" noload="true"></dmx-serverconnect>
<dmx-serverconnect id="scLastMemNo" url="/api/Admin/lastMemNo" dmx-param:memdetsid="modEdit.serverconnectform2.inp_memDetsId.value"></dmx-serverconnect>
<dmx-serverconnect id="scMemCategory" url="/api/Admin/getMemCategory" noload="true" dmx-param:amount="modEdit.serverconnectform2.selectMemCat.selectedValue"></dmx-serverconnect>
<dmx-serverconnect id="scGetLastPayRec" url="/api/Admin/Payments/lastPayRec" dmx-param:memdetsid="" noload="true" dmx-param:payid="session1.data.payID"></dmx-serverconnect>
<dmx-serverconnect id="scPayType" url="/api/Admin/Payments/payType"></dmx-serverconnect>
<dmx-serverconnect id="scUpdate" url="/api/Admin/update" dmx-param:payduedate="modEdit.serverconnectform2.inpDueDate.value" dmx-param:memdetsid="modEdit.serverconnectform2.inp_memNo.value"></dmx-serverconnect>
<dmx-serverconnect id="scGetMembers" url="/api/Admin/getMembers" dmx-param:sort="query1.data.sort" dmx-param:dir="query1.data.dir" dmx-param:filter="search.value"></dmx-serverconnect>
<dmx-serverconnect id="scGetSingleMem" url="/api/Admin/getSingleMem"></dmx-serverconnect>
<dmx-serverconnect id="scCreate" url="/api/Admin/create" noload="true"></dmx-serverconnect>
<dmx-serverconnect id="scArchive" url="/api/Admin/archive"></dmx-serverconnect>
<dmx-serverconnect id="scPayment" url="/api/Admin/Payments/readPay" dmx-param:memdetsid="modEdit.serverconnectform2.inp_memDetsId.value"></dmx-serverconnect>
<dmx-serverconnect id="scGetSinglePay" url="/api/Admin/Payments/getSinglePayRec"></dmx-serverconnect>
<dmx-serverconnect id="scSelectMemCat" url="/api/Admin/selectMemCat"></dmx-serverconnect>
<dmx-serverconnect id="scMax" url="/api/Admin/lastMemNo"></dmx-serverconnect>
<div class="modal fade" id="modal1" is="dmx-bs5-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info text-warning fw-bolder">
                <i class="fas fa-user-plus fa-4x iconSpacer"></i>
                <h3 class="modal-title">Add New Mem<b>ber</b></h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <form is="dmx-serverconnect-form" id="serverconnectform1" method="post" action="/api/Admin/create" dmx-generator="bootstrap5" dmx-form-type="vertical" dmx-on:success="modal1.hide();serverconnectform1.reset();browser1.goto('/admin/members');notifies1.success('Member Created')">
                                <div class="row gx-3">
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <input id="inp_memDets" name="memDetsId" type="hidden" class="form-control" dmx-bind:value="">
                                            <input type="hidden" class="form-control" id="inp_memNo" name="memNo" aria-describedby="inp_memNo_help" placeholder="Enter Mem no" dmx-bind:value="scMax.data.queryMax[0].lastMemNo+1">
                                        </div>
                                    </div>
                                </div>
                                <div class="row gx-3">

                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="inp_title">Title</label>
                                            <input type="text" class="form-control" id="inp_title" name="title" aria-describedby="inp_title_help" placeholder="Enter Title">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="firstName1">First name</label>
                                            <input type="text" class="form-control" id="inp_firstName" name="firstName" aria-describedby="inp_firstName_help" placeholder="Enter First name">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="inp_lastName">Last name</label>
                                            <input type="text" class="form-control" id="inp_lastName" name="lastName" aria-describedby="inp_lastName_help" placeholder="Enter Last name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">

                                        <div class="form-group mb-3">
                                            <label for="inp_email">Email</label>
                                            <input class="form-control" id="inp_email" name="email" aria-describedby="inp_dateJoined_help" placeholder="Enter Email" dmx-bind:value="">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="inp_tel">Tel No.</label>
                                            <input class="form-control" id="inp_tel" name="tel" aria-describedby="inp_dateJoined_help" placeholder="Enter Telephone Number" dmx-bind:value="">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="inp_Mob">Mobile No.</label>
                                            <input class="form-control" id="inp_Mob" name="mobile" aria-describedby="inp_dateJoined_help" placeholder="Enter Mobile Number" dmx-bind:value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="inp_add1">Address 1</label>
                                            <input class="form-control" id="inp_add1" name="address1" aria-describedby="inp_dateJoined_help" placeholder="Enter Address 1" dmx-bind:value="">
                                        </div>

                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="inp_add2">Address 2</label>
                                            <input class="form-control" id="inp_add2" name="address2" aria-describedby="inp_dateJoined_help" placeholder="Enter Address 2" dmx-bind:value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="inp_town1">Town 1</label>

                                            <input class="form-control" id="inp_town1" name="town1" aria-describedby="inp_dateJoined_help" placeholder="Enter Address 1" dmx-bind:value="">
                                        </div>

                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="inp_town1">Town 2</label>
                                            <input class="form-control" id="inp_town2" name="town2" aria-describedby="inp_dateJoined_help" placeholder="Enter Town 2" dmx-bind:value="">
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="inp_town1">Postcode</label>
                                            <input class="form-control" id="inp_postcode" name="postcode" aria-describedby="inp_dateJoined_help" placeholder="Enter Postcode" dmx-bind:value="">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="inp_dateJoined">Date Joined</label>
                                            <input type="date" class="form-control" id="inp_dateJoined" name="dateJoined" aria-describedby="inp_dateJoined_help" placeholder="Enter Date joined">
                                        </div>
                                    </div>
                                </div>
                                <div class="row gx-3">
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" value="1" id="inp_gdpr" name="gdpr">
                                                <label class="form-check-label" for="inp_gdpr">GDPR</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" value="1" id="inp_ukTax" name="ukTax">
                                                <label class="form-check-label" for="inp_ukTax">Uk tax</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" value="1" id="inp_memCard" name="memCard">
                                                <label class="form-check-label" for="inp_memCard">Membership Card Issued</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row gx-3">
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="inp_town1">Notes</label><textarea id="notes" class="form-control" name="notes"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row gx-3">
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="inp_town1">Payment Type</label>
                                            <select id="selectNewPayType" class="form-select" dmx-bind:options="scPayType.data.query" optiontext="description" optionvalue="payTypeid" name="slctNewPayType" dmx-bind:value="selectedValue">
                                            </select>
                                        </div>

                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="inp_town1">Membership Category</label><select id="selectNewMemCat" class="form-select" dmx-bind:options="scSelectMemCat.data.query" optiontext="memTypeDesc" optionvalue="memTypeId" name="slctNewMemCat">
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="row gx-3">
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button><button type="submit" class="btn btn-primary ms-3" dmx-bind:disabled="state.executing">Save <span class="spinner-border spinner-border-sm" role="status" dmx-show="state.executing"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" dmx-on:click="serverconnectform1.submit();browser1.goto('/admin/members');modal1.hide();serverconnectform1.reset()">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modPayments" is="dmx-bs5-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info text-warning">
                <h2 class="modal-title"><i class="fas fa-pound-sign iconSpacer fa-lg"></i>Payments for {{modEdit.serverconnectform2.inp_firstName.value+' '+modEdit.serverconnectform2.inp_lastName.value}}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid border border-2 rounded rounded-2 border-secondary mt-2">
                    <div class="row">
                        <div class="col bg-dark text-light">
                            <h6 class="fw-bolder pt-2">Payments</h6>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-sm">
                            <thead>
                                <tr>
                                    <th scope="row"></th>
                                    <th>Date paid</th>
                                    <th>Payment Method</th>
                                    <th>Amount</th>
                                    <th>Notes</th>
                                </tr>
                            </thead>
                            <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="scPayment.data.query" id="tableRepeat3">
                                <tr>
                                    <td class="align-middle text-center">
                                        <button id="btn1" class="btn btn-success" dmx-on:click="scGetSinglePayEdit.load({payid: paymentId});modEditPayments.show();modPayments.hide()"><i class="fas fa-edit fa-lg" dmx-style:color="'white'"></i></button>

                                    </td>
                                    <td dmx-text="datePaid.formatDate('dd-MM-yyyy')"></td>
                                    <td dmx-text="description"></td>
                                    <td dmx-text="amount.toNumber().formatCurrency('£', '.', ',', 2)"></td>
                                    <td dmx-text="notes"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="container mt-2">
                    <div class="row">
                        <div class="col border-2 border rounded rounded-3 shadow border-primary">
                            <div class="row rounded-3 border-dark rounded-top border border-top">
                                <div class="col text-light bg-dark">
                                    <h6 class="mt-1 pt-2 fw-bold">Add Payment</h6>
                                </div>
                            </div>
                            <form id="form1" method="post" is="dmx-serverconnect-form" action="/api/Admin/Payments/createPay" site="undefined">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group md-3">
                                            <input id="payDueDate" name="payDueDate" class="form-control" dmx-bind:value="paymentDueDate">

                                        </div>
                                        <div class="form-group md-3">
                                            <label for="hiddeninp" class="form-label">Payment Method</label>
                                            <select id="selectPayType" class="form-select" dmx-bind:options="scPayType.data.query" optiontext="description" optionvalue="payTypeid" name="selectPayType" dmx-bind:value="session1.data.payType" dmx-on:changed="text2.setValue(session1.data.payType)">
                                            </select>
                                        </div>



                                    </div>
                                    <div class="col">
                                        <div class="form-group md-3">
                                            <input type="hidden" class="form-control" id="inpMths" name="inpMonths" aria-describedby="input1_help">
                                        </div>


                                        <div class="form-group md-3 mb-1"> <label for="inp_amount" class="form-label">Amount</label>
                                            <input class="form-control mb-2" id="inp_amount" name="amount" aria-describedby="input3_help" dmx-bind:value="scMemCategory.data.query[0].cost">
                                            <input class="form-control mb-2" id="inp_amount1" name="amount1" aria-describedby="input3_help" dmx-bind:value="scMemberType.data.query[0].cost.toNumber().formatCurrency('£', '.', ',', 2)">
                                        </div>
                                        <div class="form-group md-3 mb-2"> <label for="inp_datePaid" class="form-label">Date Paid</label><input id="date1" name="datePaid" is="dmx-date-picker" format="DD-MM-YYYY" required="" dmx-on:changed="inpMths.setValue(value.monthsUntil(payDueDate.value))">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-3">
                                        <div class="form-group md-3">
                                            <label for="inp_amount" class="form-label">Notes</label><textarea id="inpNotes" class="form-control" name="notes"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <input id="inp_memdets" name="memberDetsId" type="hidden" class="form-control" dmx-bind:value="modEdit.serverconnectform2.inp_memDetsId.value">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-2">
                                        <button type="button" class="btn ms-3 w-100 btn-danger" data-bs-dismiss="modal" dmx-on:click="session1.removeAll();modPayments.hide();modEdit.show()" id="btnClose">Close</button></button>
                                    </div>
                                    <div class="col mb-2">
                                        <button id="btn3" class="btn btn-success w-100" dmx-on:click="run([{'toast.setup':{'offset-x':150,'offset-y':150}},{condition:{outputType:'boolean',if:`inpMths.value&gt;=11`,then:{steps:[{run:{outputType:'text',action:`scupdatePayDueDate.load({memdetsid: inp_memdets.value, payduedate: modEdit.serverconnectform2.inpDueDate.value})`}},{run:{outputType:'text',action:`form1.submit()`}},{run:{outputType:'text',action:`modPayments.hide()`}},{run:{outputType:'text',action:`modEdit.update()`}},{run:{outputType:'text',action:`modEdit.show()`}}]},else:{steps:[{'bootbox.confirm':{message:`modEdit.serverconnectform2.inp_firstName.value+\' \'+modEdit.serverconnectform2.inp_lastName.value+\' has made a payment within the last \'+inpMths.value+\' months. Do you want to proceed?\'`,title:'Warning',buttons:{confirm:{label:'Yes',className:'btn-danger'},cancel:{label:'No'}},centerVertical:true}},{run:{outputType:'text',action:`scupdatePayDueDate.load({memdetsid: inp_memdets.value, payduedate: modEdit.serverconnectform2.inpDueDate.value})`}},{run:{outputType:'text',action:`form1.submit()`}},{run:{outputType:'text',action:`modPayments.hide()`}},{run:{outputType:'text',action:`modEdit.update()`}},{run:{outputType:'text',action:`modEdit.show()`}}]}}}])">Save Payments</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>





            </div>
            <div class="modal-footer">


                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modEdit" is="dmx-bs5-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info text-warning fw-bolder"><i class="fas fa-user-edit fa-4x iconSpacer"></i>
                <h3 class="modal-title">&nbsp;{{serverconnectform2.inp_firstName.value+' '+serverconnectform2.inp_lastName.value}}</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" dmx-style:color="'yellow'"></button>
            </div>
            <div class="modal-body bg-light-subtle">
                <p dmx-text="'Membership Paid Until: '+serverconnectform2.inpDueDate.value.formatDate('MMMM-yyyy')" class="h4 bg-success text-light fw-bolder text-md-center" id="paid" dmx-show="serverconnectform2.inpDueDate.value&gt;=var1.datetime"></p>
                <p dmx-text="'Membership Due Soon: '+serverconnectform2.inpDueDate.value.formatDate('MMMM-yyyy')" class="h4 fw-bolder text-md-center bg-warning text-black" id="dueSoon" dmx-style:background-color="'#aaeebb'" dmx-show="serverconnectform2.hidNewPayDue.value&gt;=var1.datetime.addMonths(1)"></p>
                <p dmx-text="'Membership Overdue: '+serverconnectform2.inpDueDate.value.formatDate('MMMM-yyyy')" class="h4 text-light fw-bolder text-md-center bg-danger" id="overdue" dmx-hide="serverconnectform2.inpDueDate.value&gt;var1.datetime"><i class="fas fa-check-square fa-lg iconSpacer"></i>

                </p>
                <div class="container-fluid">
                    <div class="row">

                        <div class="col">
                            <button id="btn2" class="btn" dmx-on:click="run([{alert:{message:`serverconnectform2.inp_memDetsId.value+\' \'+serverconnectform2.inpDueDate.value`}},{run:{outputType:'text',action:`scupdatePayDueDate.load({memdetsid: serverconnectform2.inp_memDetsId.value, payduedate: serverconnectform2.inpDueDate.value})`}}])">Button</button>
                        </div>
                        <div class="col">


                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <form is="dmx-serverconnect-form" id="serverconnectform2" method="post" action="/api/Admin/update" dmx-generator="bootstrap5" dmx-form-type="vertical" dmx-populate="scGetSingleMem.data.query" dmx-on:success="modEdit.hide();serverconnectform2.reset();browser1.goto('/admin/members');notifies1.success('Member Updated')" dmx-on:error="notifies1.danger('An Error Occured')">
                                <div class="row gx-3">
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="inp_memNo">Mem no</label>
                                            <input type="number" class="form-control" id="inp_memNo" name="memNo" dmx-bind:value="scGetSingleMem.data.query.memNo.pad(4)" aria-describedby="inp_memNo_help" placeholder="Enter Mem no" dmxorgdomid="d4365" readonly="true">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="inp_dateJoined">Date joined</label>
                                            <input type="date" class="form-control" id="inp_dateJoined" name="dateJoined" dmx-bind:value="scGetSingleMem.data.query.dateJoined" aria-describedby="inp_dateJoined_help" placeholder="Enter Date joined" dmxorgdomid="d4385" required="" data-rule-date="" dmx-on:updated="flow1.run()">
                                        </div>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="inp_category">Category</label><select id="selectMemCat" class="form-select" dmx-bind:options="scSelectMemCat.data.query" optiontext="memTypeDesc" optionvalue="memTypeId" name="memCat" dmx-bind:value="scGetSingleMem.data.query.memCategory">
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col">
                                        <button id="btnPay" class="btn btn-info mt-1" dmx-on:click="run([{run:{outputType:'text',action:`scMemCategory.load({memdetsid: inp_memDetsId.value})`}},{run:{name:'RemSession',outputType:'text',action:`session1.removeAll()`}},{run:{output:true,outputType:'text',action:`scLastMemNo.load({memdetsid: inp_memDetsId.value})`}},{run:{outputType:'text',action:`session1.set(\'payID\',scLastMemNo.data.query[0].payId)`}},{alert:{disabled:true,message:`\'payid:\'+session1.data.payID`}},{wait:{disabled:true,delay:200}},{run:{outputType:'text',action:`scGetLastPayRec.load({payid: session1.data.payID})`}},{wait:{delay:100}},{run:{outputType:'text',action:`session1.set(\'payType\',scGetLastPayRec.data.query.payType)`}},{runJS:{outputType:'text',function:'calculateDueDate',args:[`inp_dateJoined.value`,`inp_lastPaid.value`]}},{alert:{disabled:true,message:`\'paytype: \'+session1.data.payType`}},{run:{outputType:'text',action:`scGetSingleMem.load({memdetsid: inp_memDetsId.value})`}},{run:{outputType:'text',action:`modPayments.update()`}},{run:{outputType:'text',action:`modPayments.show();modEdit.hide()`}}])"><i class="fas fa-cash-register iconSpacer fa-lg"></i>Payment</button>

                                    </div>
                                </div>
                                <div class="row gx-3">
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="inp_title">Title</label>
                                            <input type="text" class="form-control" id="inp_title" name="title" dmx-bind:value="scGetSingleMem.data.query.title" aria-describedby="inp_title_help" placeholder="Enter Title" dmxorgdomid="d4370">


                                            <input id="hidNewPayDue" name="payDue" type="hidden" class="form-control" dmx-bind:value="paymentDueDate" dmx-on:updated="inpDueDate.setValue(value)">

                                        </div>
                                        <input id="inpDueDate" name="inpDueDate" type="hidden" class="form-control" dmx-bind:value="scGetSingleMem.data.query.payDueDate">
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="inp_firstName">First name</label>
                                            <input type="text" class="form-control" id="inp_firstName" name="firstName" dmx-bind:value="scGetSingleMem.data.query.firstName" aria-describedby="inp_firstName_help" placeholder="Enter First name" dmxorgdomid="d4375">
                                            <input class="form-control" id="inp_lastPaid" name="lastPayment" dmx-bind:value="scgetLastPay.data.query.dueDate" aria-describedby="inp_firstName_help" dmxorgdomid="d4375" type="hidden">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="inp_lastName">Last name</label>
                                            <input type="text" class="form-control" id="inp_lastName" name="lastName" dmx-bind:value="scGetSingleMem.data.query.lastName" aria-describedby="inp_lastName_help" placeholder="Enter Last name" dmxorgdomid="d4380">
                                        </div>
                                    </div>
                                </div>
                                <div class="row gx-3">
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="1" id="inp_ukTax" name="ukTax" dmxorgdomid="d4398" dmx-bind:checked="scGetSingleMem.data.query.ukTax">
                                                <label class="form-check-label" for="inp_ukTax">Uk tax</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="1" id="inp_gdpr" name="gdpr" dmxorgdomid="d4391" dmx-bind:checked="scGetSingleMem.data.query.gdpr">
                                                <label class="form-check-label" for="inp_gdpr">GDPR</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="1" id="inp_memCard" name="memCard" dmxorgdomid="d4405" dmx-bind:checked="scGetSingleMem.data.query.memCard">
                                                <label class="form-check-label" for="inp_memCard">Membership Card</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row gx-3">
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="inp_mobile">Mobile</label>
                                            <input type="text" class="form-control" id="inp_mobile" name="mobile" dmx-bind:value="scGetSingleMem.data.query.mobile" aria-describedby="inp_mobile_help" placeholder="Enter Mobile" dmxorgdomid="d4416">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="inp_tel">Tel</label>
                                            <input type="text" class="form-control" id="inp_tel" name="tel" dmx-bind:value="scGetSingleMem.data.query.tel" aria-describedby="inp_tel_help" placeholder="Enter Tel" dmxorgdomid="d4411">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="inp_email">Email</label>
                                            <input type="text" class="form-control" id="inp_email" name="email" dmx-bind:value="scGetSingleMem.data.query.email" aria-describedby="inp_email_help" placeholder="Enter Email" dmxorgdomid="d4421">

                                        </div>

                                    </div>
                                </div>
                                <div class="row gx-3">
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="inp_notes">Notes</label>
                                            <textarea id="inp_notes" name="notes" dmx-bind:value="scGetSingleMem.data.query.notes" class="form-control" dmxorgdomid="d4426"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row gx-3">
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="inp_address1">Address1</label>
                                            <input type="text" class="form-control" id="inp_address1" name="address1" dmx-bind:value="scGetSingleMem.data.query.address1" aria-describedby="inp_address1_help" placeholder="Enter Address1" dmxorgdomid="d4431">
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="inp_address2">Address2</label>
                                            <input type="text" class="form-control" id="inp_address2" name="address2" dmx-bind:value="scGetSingleMem.data.query.address2" aria-describedby="inp_address2_help" placeholder="Enter Address2" dmxorgdomid="d4436">
                                        </div>
                                    </div>
                                </div>
                                <div class="row gx-3">
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="inp_town1">Town1</label>
                                            <input type="text" class="form-control" id="inp_town1" name="town1" dmx-bind:value="scGetSingleMem.data.query.town1" aria-describedby="inp_town1_help" placeholder="Enter Town1" dmxorgdomid="d4441">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="inp_town2">Town2</label>
                                            <input type="text" class="form-control" id="inp_town2" name="town2" dmx-bind:value="scGetSingleMem.data.query.town2" aria-describedby="inp_town2_help" placeholder="Enter Town2" dmxorgdomid="d4446">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="inp_postcode">Postcode</label>
                                            <input type="text" class="form-control" id="inp_postcode" name="postcode" dmx-bind:value="scGetSingleMem.data.query.postcode" aria-describedby="inp_postcode_help" placeholder="Enter Postcode" dmxorgdomid="d4451">


                                        </div>
                                    </div>
                                </div>
                                <div class="row gx-3">
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <input type="hidden" class="form-control" id="inp_memDetsId" name="memdetsid" dmx-bind:value="scGetSingleMem.data.query.memDetsId" aria-describedby="inp_memDetsId_help" placeholder="Enter Mem dets" dmxorgdomid="d4456">
                                        </div>
                                    </div>
                                </div>
                                <div class="row gx-3">
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <button type="submit" class="btn btn-primary w-100" dmx-bind:value="scGetSingleMem.data.query.Save" dmx-bind:disabled="state.executing" dmxorgdomid="d4460">Save <span class="spinner-border spinner-border-sm" role="status" dmx-show="state.executing" dmxorgdomid="d4461"></span></button>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <button type="button" class="btn btn-secondary ms-3 w-100" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<meta name="ac:route" content="/admin/members">
<div class="modal" id="modEditPayments" is="dmx-bs5-modal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary text-warning fw-bolder">
                <h3 class="modal-title">Edit Payment</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" dmx-style:color="'white'"></button>
            </div>
            <div class="modal-body">
                <form is="dmx-serverconnect-form" id="serverconnectform3" method="post" action="/api/Admin/Payments/updatePayment" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-populate="scGetSinglePayEdit.data.query">
                    <input id="text1" name="paymentId" type="hidden" class="form-control" dmx-bind:value="scGetSinglePayEdit.data.query.paymentId">
                    <div class="row">

                        <div class="col">
                            <div class="form-group md-4 col">
                                <label for="inp_payType" class="col-sm-4 col-form-label">Pay type</label><select id="select1" class="form-select" dmx-bind:options="scPayType.data.query" optiontext="description" optionvalue="payTypeid" name="selectPayType" dmx-bind:value="scGetSinglePayEdit.data.query.payType" dmx-on:changed="">
                                </select>
                                <input id="textinppay" name="inpPayType" type="hidden" class="form-control" dmx-on:changed="textinppay.setValue(select1.selectedValue)" dmx-bind:value="select1.selectedValue">
                            </div>
                            <div class="form-group mb-3 row">

                                <div class="col-sm-10">
                                    <input type="hidden" class="form-control" id="inp_payType" name="payType" dmx-bind:value="scGetSinglePayEdit.data.query.payType" aria-describedby="inp_payType_help" placeholder="Enter Pay type">
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group md-3">
                                <label for="inp_amount" class="col-sm-2 col-form-label">Amount</label><input class="form-control" id="inp_amount" name="amount1" dmx-bind:value="scGetSinglePayEdit.data.query.amount.formatCurrency('£', '.', ',', 2)" aria-describedby="inp_amount_help" dmx-on:changed="inp_amountFinal.setValue(value)" readonly="true">
                                <input class="form-control" id="inp_amountFinal" name="amount" aria-describedby="inp_amount_help" type="hidden" dmx-bind:value="scGetSinglePayEdit.data.query.amount">
                            </div>
                        </div>
                        <div class="col">

                            <div class="form-group md-3">
                                <label for="inp_datePaid" class="col-sm-3 col-form-label col-6">Date paid</label><input type="date" class="form-control" id="inp_datePaid" name="datePaid" dmx-bind:value="scGetSinglePayEdit.data.query.datePaid" aria-describedby="inp_datePaid_help" placeholder="Enter Date paid">
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <div class="col-sm-10">
                            <input type="hidden" class="form-control" id="inp_tbl_member_detail_id" name="tbl_member_detail_id" dmx-bind:value="scGetSinglePayEdit.data.query.tbl_member_detail_id" aria-describedby="inp_tbl_member_detail_id_help" placeholder="Enter Tbl member detail">
                        </div>
                    </div>


                    <div class="form-group mb-3 row">
                        <label for="inp_payNotes" class="col-sm-2 col-form-label">Pay notes</label>
                        <div class="col-sm-10">
                            <textarea id="inpPayNotes" class="form-control" name="payNotes"></textarea>
                        </div>
                    </div>

                    <div class="form-group mb-3 row">
                        <div class="col-sm-10">
                            <input type="hidden" class="form-control" id="inp_memCat" name="memCat" dmx-bind:value="scGetSinglePayEdit.data.query.memCat" aria-describedby="inp_memCat_help" placeholder="Enter Mem cat">
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <div class="col-sm-10">
                            <input type="hidden" class="form-control" id="inp_newRenewal" name="newRenewal" dmx-bind:value="scGetSinglePayEdit.data.query.newRenewal" aria-describedby="inp_newRenewal_help" placeholder="Enter New renewal">
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <div class="col-sm-2 col-3">&nbsp;<button type="submit" class="btn btn-primary w-100 shadow align-self-center" dmx-bind:value="scGetSinglePayEdit.data.query.Save" dmx-bind:disabled="state.executing">Save </button></div>
                        <div class="col-3 col-sm-2">
                            <button type="button" class="btn btn-secondary align-self-center w-100 shadow mt-3" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col"><button id="btnAddMem" class="btn btn-success mt-2 align-self-center" dmx-on:click="modal1.show();scMax.load({})"><i class="fas fa-plus-circle fa-2x iconSpacer" dmx-style:color="'white'"></i>Add&nbsp; New Member</button></div>
            <div class="col-1 align-self-center text-end mt-2 pt-2">
                <i class="fas fa-search fa-2x"></i>
            </div>
            <div class="col">
                <input id="search" name="search" type="text" class="form-control mt-3">
            </div>



        </div>
        <div class="row">
            <div class="col mt-2">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover table-sm">
                        <thead>
                            <tr>
                                <th scope="row"></th>
                                <th class="sorting" dmx-on:click="query1.set('sort','memDetsId');query1.set('dir',query1.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="query1.data.sort=='memDetsId' && query1.data.dir == 'asc'" dmx-class:sorting_desc="query1.data.sort=='memDetsId' && query1.data.dir == 'desc'">Membership No.</th>
                                <th class="sorting" dmx-on:click="query1.set('sort','firstName');query1.set('dir',query1.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="query1.data.sort=='firstName' && query1.data.dir == 'asc'" dmx-class:sorting_desc="query1.data.sort=='firstName' && query1.data.dir == 'desc'">First name</th>
                                <th class="sorting" dmx-on:click="query1.set('sort','lastName');query1.set('dir',query1.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="query1.data.sort=='lastName' && query1.data.dir == 'asc'" dmx-class:sorting_desc="query1.data.sort=='lastName' && query1.data.dir == 'desc'">Last name</th>
                                <th class="sorting" dmx-on:click="query1.set('sort','email');query1.set('dir',query1.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="query1.data.sort=='email' && query1.data.dir == 'asc'" dmx-class:sorting_desc="query1.data.sort=='email' && query1.data.dir == 'desc'">Email</th>
                                <th class="sorting" dmx-on:click="query1.set('sort','dateJoined');query1.set('dir',query1.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="query1.data.sort=='dateJoined' && query1.data.dir == 'asc'" dmx-class:sorting_desc="query1.data.sort=='dateJoined' && query1.data.dir == 'desc'">Date joined</th>
                                <th class="sorting" dmx-on:click="query1.set('sort','mobile');query1.set('dir',query1.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="query1.data.sort=='mobile' && query1.data.dir == 'asc'" dmx-class:sorting_desc="query1.data.sort=='mobile' && query1.data.dir == 'desc'">Mobile</th>
                            </tr>
                        </thead>
                        <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="scGetMembers.data.query" id="tableRepeat1" dmx-state="query1" dmx-sort="sort" dmx-order="dir">
                            <tr>
                                <td class="align-middle">
                                    <div class="row row-cols-4">
                                        <div class="col-1 me-4">
                                            <button id="btnEdit1" class="btn btn-success align-self-center shadow ps-2 text-center" dmx-on:click="modPayments.show()"><i class="fas fa-edit fa-lg iconSpacer"></i></button>
                                        </div>
                                        <div class="col-1 ms-3"><button id="btnArchive" class="btn btn-danger align-self-center shadow" dmx-on:click="run({confirm:{name:'FOLP Membership',outputType:'boolean',message:`\'You are about to archive \'+firstName+\' \'+lastName+\'. Please confirm?\'`,then:{steps:[{run:{outputType:'text',action:`scArchive.load({memdetsid: memDetsId})`}},{run:{outputType:'text',action:`scGetMembers.load({})`}}]}}})"><i class="fas fa-archive fa-lg"></i></button></div>
                                    </div>




                                </td>
                                <td dmx-text="memDetsId" dmx-hide="scGetMembers.data.query"></td>
                                <td dmx-text="memNo.pad(4)" class="ms-2"></td>
                                <td dmx-text="firstName"></td>
                                <td dmx-text="lastName"></td>
                                <td dmx-text="email"></td>
                                <td dmx-text="dateJoined.formatDate('dd-MM-yyyy')"></td>
                                <td dmx-text="mobile"></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




</main>

<script>
    function calculateDueDate(joinDate, lastPayment) {
    function formatDate(date) {
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const day = String(date.getDate()).padStart(2, '0');
        return `${year}-${month}-${day}`;
    }

    const joinDateObj = new Date(joinDate);
    const joinDay = joinDateObj.getDate();
    const joinMonth = joinDateObj.getMonth() + 1; // Months are zero-indexed, so add 1

    const lastPaymentComponents = lastPayment.split("-");
    const lastPaymentDate = new Date(
        parseInt(lastPaymentComponents[0]),
        parseInt(lastPaymentComponents[1]) - 1,
        parseInt(lastPaymentComponents[2])
    );

    // Calculate paymentDueDate 12 months from the last payment date
    const paymentDueDate = new Date(lastPaymentDate);
    paymentDueDate.setFullYear(paymentDueDate.getFullYear() + 1);

    // Set the day and month of paymentDueDate to be the same as join day and month
    paymentDueDate.setDate(joinDay);
    paymentDueDate.setMonth(joinMonth - 1); // Months are zero-indexed, so subtract 1
    newdate=formatDate(paymentDueDate);
 //alert("pay duedate="+newdate);
    dmx.app.set('paymentDueDate',newdate);
    //return formatDate(paymentDueDate); 
} 

</script>>