<!-- Wappler include head-page="layouts/admin" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="test" appConnect="local" components="{dmxBootstrap5TableGenerator:{},dmxBootstrap5Modal:{}}" -->
<script is="dmx-flow" id="flow1" type="text/dmx-flow">{
  run: {outputType: "text", action: "{{modal1.show()}}"}
}</script>
<div class="modal" id="modal1" is="dmx-bs5-modal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<main>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>Mem dets</th>
            <th>Mem no</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Status</th>
            <th>Date joined</th>
            <th>Stbl mem pers</th>
            <th>Stbl mem address</th>
          </tr>
        </thead>
        <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="serverconnect1.data.query" id="tableRepeat1">
          <tr>
            <td>
              <button id="btn1" class="btn" dmx-on:click="flow1.run()">Button</button>Cell
            </td>
            <td dmx-text="memDetsId"></td>
            <td dmx-text="memNo"></td>
            <td dmx-text="firstName"></td>
            <td dmx-text="lastName"></td>
            <td dmx-text="status"></td>
            <td dmx-text="dateJoined"></td>
            <td dmx-text="stbl_mem_pers"></td>
            <td dmx-text="stbl_mem_address"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
<meta name="ac:route" content="/admin/test">
<dmx-serverconnect id="serverconnect1" url="/api/Admin/getMembers"></dmx-serverconnect>