<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="login" appConnect="local" components="{dmxLazyLoad:{}}" -->
<meta name="ac:route" content="/login">
<div class="container">
    <form id="login1">
        <div class="row pt-2 pb-2">

            <div class="col"></div>
            <div class="col-md-8 col-lg-7 col-xl-5 text-center border border-2 rounded rounded-3 shadow-lg border-info col">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <img dmx-lazyload-dynamic="">
                            </div>
                            <div class="col">
                                <h1>Log In</h1>
                                <p class="text-h3">Enter your details below.</p>
                            </div>

                        </div>

                        <div class="row mt-4">
                            <div class="col">
                                <input type="password" id="inp_password" name="password" class="form-control" placeholder="Password">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-4">
                                <input type="text" id="inp_email" name="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <button id="login1_submit" class="btn btn-secondary text-light mb-2" type="button">Submit</button>
                            </div>
                        </div>

                    </div>
                </div>




            </div>
            <div class="col"></div>
        </div>
    </form>
</div>