<!-- Wappler include head-page="layouts/admin" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="reminder" appConnect="local" -->
<meta name="ac:route" content="/admin/email/reminder">
<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Renewals</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col">
                <div class="form-group mb-3">
                    <label for="select1" class="form-label">Select</label>
                    <select id="select1" class="form-select" dmx-bind:value="13">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                        <option selected="" value="">Select</option>
                    </select>
                </div>
            </div>
            <div class="col offset-2"></div>
        </div>
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

</main>